# NetBeans
nbproject/private/
build/
dist/
nbbuild/
nbdist/
.nb-gradle/

# Compiled class files
*.class

# IDE
*.iml
.idea/

# OS
.DS_Store
Thumbs.db

# Credenciales - nunca subir a GitHub
config.properties